app:
  name: kuberpc-sidecar-injector
  port: 3500
  image:
    repository: docker.io/darksueii/kuberpc-sidecar-injector
    tag: 0.0.3.ARM
    pullPolicy: Always
  replicas: 1
  namespace: kuberpc

configmap:
  name: kuberpc-sidecar-injector-configmap
  data:
    PORT: 8080
    ANNOTATION_INJECT: "kuberpc.suei.dev/inject"
    ANNOTATION_APP_ID: "kuberpc.suei.dev/app-id"
    ANNOTATION_APP_PORT: "kuberpc.suei.dev/app-port"
    SIDECAR_POD_NAME: "kuberpc"
    SIDECAR_POD_IMAGE: "docker.io/darksueii/kuberpc-sidecar:0.0.0"

service:
  type: ClusterIP
  protocol: TCP

webhook:
  name: kuberpc.suei.dev
  # This value is manually generated for development.
  caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURDekNDQWZPZ0F3SUJBZ0lVWlgrRjhaNW0vbGZDRFNlN29VVE4yN3ZxeHBNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZURVRNQkVHQTFVRUF3d0tjMmxrWldOaGNpMWpZVEFlRncweU5URXhNamt3TlRJeU5ETmFGdzB6TlRFeApNamN3TlRJeU5ETmFNQlV4RXpBUkJnTlZCQU1NQ25OcFpHVmpZWEl0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCCkFRVUFBNElCRHdBd2dnRUtBb0lCQVFEQ0V2aGl4TXJmZjRmY3REMkdIWEkrenY3QlIvWS9wU2dOekRvNjVycCsKNXE5ZUZVUmIvTTNPWS8xTFM4SWYyaS9xbjByMStBWUhEa1JYRzJNam9GWWRvYm9pdmpkQmxxd2lSSER1WlRZeQprSnJOQlkwWWdnMnpLVmxjSzFnTE90ODA1OE1xWFlrS3k5ZEtYZmhZMVJhd0NrNXl1RzRNK1B2Vnh2UE5BWjlYCjQ0UEdvcUVxNmx5SkxnQ1NITk5kYXI0WEtwOWlUbTF1ZHQvSWx3WlJhV1FtcXd4QlVISjJzVGdhUVdPU1dacjkKUG1abUQxZ25PTVp2cVRFZXdaWm1ob3VoT0E1aDRIcHh1THVOQi83NWZvUEVkZURGL2xuREUzNVA2ZkhYQ2o3ZgpENHNyZWNYK2NWZUVVcW1wYnRNdnFjcUdkQmJ5WmhCMThTWkM4WHJwejVsMUFnTUJBQUdqVXpCUk1CMEdBMVVkCkRnUVdCQlJvZTBzRHRpUTg3QmFzdDhQa0w1NktqZzJ3d3pBZkJnTlZIU01FR0RBV2dCUm9lMHNEdGlRODdCYXMKdDhQa0w1NktqZzJ3d3pBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCYworR3F2VEF6V0c4ZWdiSUJoeDBHMG0vcHd6d1RJQyt3TGtKakhvKzBRUHZ0NnNZaHFpeVZMc3hrMXBVTzFBRHZNCjA1MSswTXpBc2RuT1hRbHhLdHRtM0NWK0FiR0dCNnp4WmhIYVkrTzFKaHNXbENIbXpLR0Y3TitEbmVUZThHejUKMHpNMkZ0RWUxTFgyWUcvU0dwYkpJdTZ4ZS96cFR5MzI5eGFVNUk0cmRCc0l1MkZreDZQWFJjZjhmbUhibXpTNQpYUCtyNk55cGFzYmUzSS9FNWJ5Q3c1eWtITkxXempyMzdCbFNoaGNBc2NGWGY5M0tuV21kaUFFdFpkY0RQbXdwCkJXT1MzSXpEcnN3VDRXSVhmdStqTjFXZkpqVVZqd214MlNKenJIOEZwVGNIZmRvdldOb2o2OXpidjZZQWprMWgKOHVXN3hidEpweXZ2OTFpUW5KQm0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
  failurePolicy: Ignore
  timeoutSeconds: 5
